body{
    background-image: url("smile.jpg");
    background-color: green;
    background-repeat: no-repeat;
    background-position:bottom right; /*bottom right*/
   /* background-position: 200px 400px;*/
    margin-right: 200px;
    background-attachment: fixed;
}

    div{
        font-size: 30px;
        border: 1px solid black;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-right: 200px;
        margin-left: 300px;
        padding: 60px;
        background-color: rgb(27, 235, 165);
      }
